    html,body{
        padding:0;
        margin:0;
        font-size: 50px;
    }
    h4{
        text-align: center;
        margin: .3rem;
        color:chocolate;
    }
    
    #game-field{
        width:12rem;
        margin: 0 auto;
    }
    .controller {
        text-align: center;
        font-size: .5rem;
        margin-bottom :.5rem;
    }
    .controller .button{
        background-color:rgb(40, 123, 247);
        color:white;
        padding:.1rem;
        border-radius:.1rem;
    }
    .controller span{
        color: gold;
    }
    #game-field .content{
        width:12rem;
        height:12rem;
        background-color:peru;
        border-radius:.1rem;
        margin-top:.2rem;
        position: relative;
    }
    #game-field .content .back-layer,
    #game-field .content .cell{
        position: absolute;
        width:2.6rem;
        height:2.6rem;
        background-color:#7e7a5b;
        border-radius:.1rem;
        transition:200ms;
    }
    #game-field .content .cell{
        background-color: #ffcb38;
        opacity:.8;
        font-size:60px;
        font-weight:bold;
        line-height:2.5rem;
        text-align: center;
        color: #faf7f4;
    }
    .row0{
        top:.5rem;
    }
    .row1{
        top:3.3rem;
    }
    .row2{
        top:6.1rem;
    }
    .row3{
        top:8.9rem;
    }
    .col0{
        left:.5rem;
    }
    .col1{
        left:3.3rem;
    }
    .col2{
        left:6.1rem;
    }
    .col3{
        left:8.9rem;
    }